@charset "utf-8";

.hubpage {
	position:fixed;
	left:0;right:0;top:0;bottom:0;
}
.hubpage .link-area {
	position:absolute;
	left:0;right:0;top:0;bottom:64px;
	background:url(../img/hub/bg_hub.jpg) no-repeat 0 0;
	background-size:100% 100%;
}
.hubpage .link-area .box {
	position:absolute;
	left:0;right:0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.hubpage .link-area .box.top {
	top:0;bottom:50%;
	background:url(../img/hub/img_car01.png) no-repeat 0 50%;
	background-size:100% auto;
}
.hubpage .link-area .box.bottom {
	top:50%;bottom:0;
	background:url(../img/hub/img_car02.png) no-repeat 0 50%;
	background-size:100% auto;
}

.hubpage .hub-footer {
	position:absolute;
	left:0;right:0;bottom:0;
	height:63px;
	border-top:1px solid #d6d6d6;
	background:#f6f6f6 url(../img/hub/text_footer.png) no-repeat 50% 50%;
	background-size:265px 41px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}