@charset "utf-8";

html {background-color:#f6f6f6;}
.hubpage {position:relative;}
.hubpage:before {
	content:'';
	position:absolute;
	left:0;right:0;top:0;bottom:110px;
	background:url(../img/hub/bg_hub.jpg) no-repeat 0 0;
	background-size:100% 100%;
}
.hubpage .hub-logo {
	position:absolute;
	left:20px;top:15px;
	z-index:5;
	width:72px;
	height:33px;
	background:url(../img/hub/h1_logo.png) no-repeat 0 0;
	background-size:72px 33px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.hubpage .link-area {
	position:relative;
	height:520px;
	width:336px;
	margin:0 auto;
}
.hubpage .link-area .box {
	position:absolute;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.hubpage .link-area .box.top {
	left:0;top:66px;
	width:180px;
	height:200px;
	background:url(../img/hub/img_car01.png) no-repeat 0 100%;
	background-size:100% auto;
}
.hubpage .link-area .box.bottom {
	right:-8px;bottom:15px;
	width:203px;
	height:216px;
	background:url(../img/hub/img_car02.png) no-repeat 100% 60%;
	background-size:100% auto;
}

.hubpage .footer {
	position:inherit !important;
}

/* 아이폰 5 대응 */
@media only screen and (max-width:320px) {
	.hubpage .link-area {
		width:310px;
		height:440px;
	}
	.hubpage .link-area .box.top {
		width:150px;
		height:168px;
	}
	.hubpage .link-area .box.bottom {
		right:5px;
		width:168px;
		height:184px;
	}
}
